<h2>Madlib do czytania</h2>

<p>Tutaj wklej odpowiedzi (same wiersze z odpowiedziami) przeklejone z google docsa:</p>

<textarea data-bind='value: csvText'></textarea>

<br />

<button data-bind='click: parseCsv'>Pokaż</button>

<div data-bind="foreach: parsedCsv">
    <div>
        <p>Napisał/a: <span data-bind="text: $data[1]"></span></p>

        <p>Mogę liczyć na Niego/Ją, bo <span data-bind="text: $data[2]"></span>.</p>

        <p>Jest postrzegany/a w SoftwareMill jako <span data-bind="text: $data[3]"></span>. 
            Kieruje swoją energię na  <span data-bind="text: $data[4]"></span> i robi to z <span data-bind="text: $data[5]"></span> efektami.</p>

        <p>On/Ona jest najlepszy/a w <span data-bind="text: $data[6]"></span>, <span data-bind="text: $data[7]"></span>, 
            oraz <span data-bind="text: $data[8]"></span>. 
            Do Jego/Jej mocnych stron zalicza się  <span data-bind="text: $data[9]"></span> i  <span data-bind="text: $data[10]"></span>.
        </p>

        <p>Kiedy sprawy nie idą jak należy, wtedy On/Ona <span data-bind="text: $data[11]"></span> oraz <span data-bind="text: $data[12]"></span>.</p>

        <p>Rzeczy, nad którymi może popracować, to  <span data-bind="text: $data[13]"></span> i <span data-bind="text: $data[14]"></span>.
             Mógłby/Mogłaby działać na zupełnie innym poziomie, gdyby tylko <span data-bind="text: $data[15]"></span>.</p>

        <p>Przez najbliższe 3 miesiące, chciał(a)bym, aby spróbował/a swoich sił w 
            <span data-bind="text: $data[16]"></span> oraz <span data-bind="text: $data[17]"></span>, 
            a także poprawił/a swoje zdolności w  <span data-bind="text: $data[18]"></span>. 
            W szczególności, chcę, aby zaangażował/a się  <span data-bind="text: $data[19]"></span> lub spróbował/a <span data-bind="text: $data[20]"></span>.</p>

        <p>Przykład, gdy totalnie wymiótł/wymiotła, to <span data-bind="text: $data[21]"></span>.</p>

        <p>Przykład sytuacji, w której nie stanął/nie stanęła na wysokości zadania, to <span data-bind="text: $data[22]"></span>. </p>

        <p>Gdyby był/a zwierzęciem, pewnie byłby/byłaby <span data-bind="text: $data[23]"></span>,
             ponieważ <span data-bind="text: $data[24]"></span>.</p>

    </div>

    <hr/>
</div>